html {
    background: black;
    color: white;
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

header {
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: left;
    background: black;
    color: white;
    font-family: serif;
}

#heading {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
    background: black;
    color: white;
    font-family: serif;
}

#login {
    background: rgb(6, 213, 6);
    text-align: center;
    padding: 2rem;
    color: white;
    font-family: serif;
}

body {
    height: 100vh;
    width: 100vw;
}

#navigation {
    background: rgb(10, 10, 124);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    text-align: center;
    border-top: 1.5px solid white;
    color: white;
    font-family: serif;
}

#background_main {
    text-align: left;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    color: white;
    font-family: serif;
}

#main_image h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
}

#info {
    padding: 1.5rem;
    background: black;
    color: white;
    font-family: serif;

}

#attractions {
    width: 100vw;
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: serif;
    
}



footer {
    padding: 1.5rem;
    background: black;
    color: white;
    font-family: serif;
}